@media screen and (max-width: 480px) {

    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }

    /* Pagina Produtos */

    .produtos {
        width: auto;
    }

    .produtos li {
        display: block;
        width: auto;
        margin-bottom: 10px;

    }
}